<!-- Author: PB_TELECOME -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/logo.png">
    <title>PB Telecoms</title>
    <link href="../includes/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/includes/style.css" rel="stylesheet">
    <link href="../assets/includes/Sukhdev_style.css" rel="stylesheet">
    <link rel="stylesheet" href="../includes/css/font-awesome.min.css">
    <link rel="stylesheet" href="../includes/css/owl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../includes/js/jquery.js"></script>
    <script src="../includes/js/bootstrap.js"></script>
    <script src="../includes/js/popper.js"></script>
    <script src="../includes/js/owl.js"></script>
    <script src="../assets/includes/custom.js"></script>
    <script src = "../assets/includes/auth.js"></script>
</head>

<body>
    <!-- ---------------------- header starts here ------------------------------------------------------ -->
    <div class="header">
        <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
                <div class="container">
                
                    <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> PB TELECOMS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_apple.html">Buy Apple</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_android.html">Buy Android</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="testimonials.html">Testimonials</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="Sign_login.html" id="login_logout">Sign Up / Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact_us.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- --------------------------------  about us template starts here -------------------------------------------------- -->
    <div class="about_container">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">About us</h1>
                    <p class="lead text-muted mb-0">Welcome to PB Telecome, your go-to destination for the latest mobile
                        phones and accessories. At PB Telecome,
                        we believe in connecting people to the latest technology, empowering them to stay connected with
                        the world in style.</p>
                    <a href="#" class="cust-btn">Learn More</a>
                    </p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="../assets/images/about.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 "></i>
                    <h2 class="font-weight-light">Our Mission</h2>
                    <p class="text-muted mb-4">Our mission is simple - to provide our customers with a seamless and
                        enjoyable shopping experience
                        for all their mobile needs.We strive to offer cutting-edge technology, stylish accessories, and
                        personalized service that goes
                        beyond expectations.</p>
                    <a href="#" class="cust-btn">Learn More</a>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../assets/images/mission.png" alt=""
                        class="img-fluid mb-4 mb-lg-0"></div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 px-5 mx-auto"><img src="../assets/images/we.png" alt=""
                        class="img-fluid mb-4 mb-lg-0"></div>
                <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 "></i>
                    <h2 class="font-weight-light">Who We Are</h2>
                    <p class="text-muted mb-4">Founded in 2023, PB Telecome has quickly become a trusted name in the
                        mobile
                        industry. Our team consists of tech enthusiasts who are passionate about staying ahead of the
                        curve and bringing you the
                        latest and greatest in mobile innovation.</p><a href="#" class="cust-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="about_container">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light">Our team</h2>
                    <p class="text-muted">Meet the faces behind the scenes, each committed to providing you with an
                        exceptional experience.</p>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/images/gunraj.jpg" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Gunraj <br>Singh</h5><span class="small text-uppercase text-muted">CEO /
                            Co-Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/gunraj_23/#"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/images/sukh.jpg" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Sukhdev <br>Singh</h5><span class="small text-uppercase text-muted">CTO /
                            Co-Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/sukhdev__rajput/#"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/images/deep.jpg" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Deepankshu Deep Singh</h5><span class="small text-uppercase text-muted">CCO /
                            Co-Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/_deepankshu/#"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../assets/images/maneet.jpg" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Maneet Pal <br>Singh</h5><span
                            class="small text-uppercase text-muted">CFO /
                            Co-Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/mane2t/#"
                                    class="social-link"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i
                                        class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

            </div>
        </div>
    </div>



    <!-- ---------------------------   FOoTER starts here ---------------------------------------------------------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="single_footer">
                        <h4>Products</h4>
                        <ul>
                            <li><a href="buy_apple.html#iphone_15">Iphone 15</a></li>
                            <li><a href="buy_apple.html#iphone_15pro">Iphone 15 pro</a></li>
                            <li><a href="buy_apple.html#ipad_1">Ipad Pro</a></li>
                            <li><a href="buy_android.html#samsung_fold">Samsung Fold</a></li>
                            <li><a href="buy_android.html#one_plus">One Plus</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Page Link</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="buy_apple.html">Buy Apple </a></li>
                            <li><a href="buy_android.html">By Samsung</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="terms_condition.html">Terms and condition</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Subscribe today</h4>
                        <div class="signup_form">
                            <form action="#" class="subscribe">
                                <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                                <button type="button" class="subscribe__btn"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="social_profile">
                        <ul>
                            <li><a href="#"><i class=" fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="copyright">Copyright © 2023 <a href="#"></a>.</p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>

</body>

</html>