<!-- Author: PB_TELECOME -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/logo.png">
    <title>PB Telecoms</title>
    <link href="../includes/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/includes/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../includes/css/font-awesome.min.css">
    <link rel="stylesheet" href="../includes/css/owl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../includes/js/jquery.js"></script>
    <script src="../includes/js/bootstrap.js"></script>
    <script src="../includes/js/popper.js"></script>
    <script src="../includes/js/owl.js"></script>
    <script src="../assets/includes/custom.js"></script>
    <script src = "../assets/includes/auth.js"></script>



</head>

<body>
    <!-- ---------------------- header starts here ------------------------------------------------------ -->
    <div class="header">
        <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
                <div class="container">
                    <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> PB TELECOMS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_apple.html">Buy Apple</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_android.html">Buy Android</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="testimonials.html">Testimonials</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="Sign_login.html" id="login_logout">Sign Up / Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact_us.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- --------------------------------  banner starts here -------------------------------------------------- -->


    <section class="banner-area shop">

        <div class="all-banner-slide owl-carousel">
            <div class="single-banner-slide"
                style="background-image: url(../assets/images/S23-Design-Story_main1.jpg);">
                <span>Ultra Reborn.</span>
                <h2>Samsung S23 Ultra</h2>
                <p>The Samsung Galaxy S23 Ultra is a flagship smartphone, featuring a powerful processor and advanced
                    camera technology.</p>
                <a href="cart.html">Add to Cart</a>
            </div>
        </div>
    </section>

    <!-- ------------------------   Shop items card starts here ------------------------------------------------- -->

    <section class="shop shop-item-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="custom_carousel" class="carousel">
                        <div class="carousel-inner row my-10 mx-0">
                            <div class="carousel-item active col-md-4" id="one_plus">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/one_plus_shop.png" alt="...">
                                    </div>
                                    <div class="card-body" >
                                        <h5 class="card-title">One plus</h5>
                                        <h6 class="card-title">$800 CAD</h6>
                                        <p class="card-text">With 16 GB of next-gen LPDDR5X RAM, dial everything up to 11. 
                                            RAM-Vita compresses apps.
                                            </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4" id="samsung_fold">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/samsung_fold_5.jpg" alt="...">
                                    </div>
                                    <div class="card-body" >
                                        <h5 class="card-title">Samsung Fold 5</h5>
                                        <h6 class="card-title">$1400 CAD</h6>
                                        <p class="card-text">Unfold a stunning screen, designed to bring you a more
                                            immersive viewing experience</p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/googlepixel1.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Google Pixel 7</h5>
                                        <h6 class="card-title">$900 CAD</h6>
                                        <p class="card-text">Powerful in every way. Helpful every day.
                                            Powerful in every way. Helpful every day.
                                        </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/samsung1.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Samsugn 23 Ultra</h5>
                                        <h6 class="card-title">$1300 CAD</h6>
                                        <p class="card-text">Dynamic Island bubbles up alerts and Live Activities — so
                                            you don’t miss them while you’re doing. </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/hawaii1.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Huawei Pro 31</h5>
                                        <h6 class="card-title">$1000 CAD</h6>
                                        <p class="card-text">Durable Kunlun Glass. Ultra Lighting XMAGE Camera. Slim, Lightweight Quad-Curve Foldable Design. </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/samsung2.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Samsung S21</h5>
                                        <h6 class="card-title">$900 CAD</h6>
                                        <p class="card-text">The Samsung S21 smartphones designed,
                                            developed, and sold by Samsung Inc South Korea.
                                        </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/samsung3.jpg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Samsung S Gear 5</h5>
                                        <h6 class="card-title">$800 CAD</h6>
                                        <p class="card-text"> A magical watch and the 
                                            way to use Gear Watch without touching the screen.
                                            The Gear S Plus.
                                        </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/microsoft.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Microsoft Pad 3</h5>
                                        <h6 class="card-title">$1100 CAD</h6>
                                        <p class="card-text">Astonishing performance. Incredibly advanced displays.
                                            Superfast wireless connectivity.
                                        </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/sony.png" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Sony AR2300</h5>
                                        <h6 class="card-title">$450 CAD</h6>
                                        <p class="card-text">The over-ear headphone has been completely reimagined. The
                                            beautifully anodized aluminum cups feature.
                                        </p>
                                        <a href="cart.html" class="cust-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- ---------------------------   FOoTER starts here ---------------------------------------------------------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="single_footer">
                        <h4>Products</h4>
                        <ul>
                            <li><a href="buy_apple.html#iphone_15">Iphone 15</a></li>
                            <li><a href="buy_apple.html#iphone_15pro">Iphone 15 pro</a></li>
                            <li><a href="buy_apple.html#ipad_1">Ipad Pro</a></li>
                            <li><a href="buy_android.html#samsung_fold">Samsung Fold</a></li>
                            <li><a href="buy_android.html#one_plus">One Plus</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Page Link</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="buy_apple.html">Buy Apple </a></li>
                            <li><a href="buy_android.html">By Samsung</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="terms_condition.html">Terms and condition</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Subscribe today</h4>
                        <div class="signup_form">
                            <form action="#" class="subscribe">
                                <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                                <button type="button" class="subscribe__btn"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="social_profile">
                        <ul>
                            <li><a href="#"><i class=" fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="copyright">Copyright © 2023 <a href="#"></a>.</p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>

</body>

</html>