<!-- Author: PB_TELECOME -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/logo.png">
    
    <title>PB Telecoms</title>
    <link href="../includes/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/includes/style.css" rel="stylesheet">
    <link href="../assets/includes/Sukhdev_style.css" rel="stylesheet">
    <link rel="stylesheet" href="../includes/css/font-awesome.min.css">
    <link rel="stylesheet" href="../includes/css/owl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../includes/js/jquery.js"></script>
    <script src="../includes/js/bootstrap.js"></script>
    <script src="../includes/js/popper.js"></script>
    <script src="../includes/js/owl.js"></script>
    <script src="../assets/includes/custom.js"></script>
    <script src = "../assets/includes/auth.js"></script>



</head>

<body>
    <!-- ---------------------- header starts here ------------------------------------------------------ -->
    <div class="header">
        <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
                <div class="container">
                    <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> PB TELECOMS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_apple.html">Buy Apple</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_android.html">Buy Android</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="testimonials.html">Testimonials</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="Sign_login.html" id="login_logout">Sign Up / Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact_us.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- --------------------------------  contact us template starts here ---------------------------------------------------->

    <section class="contact-page-section">
        <div class="container">
            <div class="sec-title">
                <div class="title">Cart</div>
                <h2>Your shopping list .......</h2>
            </div>
            <div class="inner-container">
                <div class="row clearfix">

                    <!--Form Column-->
                    <div class="form-column col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Apple Iphone 15 Pro</th>
                                    <td>1</td>
                                    <td>1500.00$</td>
                                    <td>1500.00$</td>
                                </tr>
                                <tr>
                                    <th scope="row">Samsung s21 </th>
                                    <td>1</td>
                                    <td>1000.00$ </td>
                                    <td>1000.00$ </td>
                                </tr>
                                <tr>
                                    <th scope="row">Samsung S Gear Pro </th>
                                    <td>1</td>
                                    <td>550.00$</td>
                                    <td>550.00$</td>
                                </tr>
                                <tr>
                                    <th scope="row">Iphone 15 Pro plastic case </th>
                                    <td>2</td>
                                    <td>35.00$</td>
                                    <td>70.000$</td>
                                </tr>
                                <tr>
                                    <th scope="row">AirPods Pro Max </th>
                                    <td>1</td>
                                    <td>700.00$</td>
                                    <td>700.00$</td>
                                </tr>
                                <tr>
                                    <th scope="row">Apple Airtags </th>
                                    <td>8</td>
                                    <td>15.00$</td>
                                    <td>120.00$</td>
                                </tr>
                                <tr>
                                    <th scope="row">AirPods Pro Max Care Pack </th>
                                    <td>1</td>
                                    <td>15.00$</td>
                                    <td>15.00$</td>
                                </tr>
                                <tr class="table-warning">
                                    <th scope="row">TOTAL </th>
                                    <td></td>
                                    <td></td>
                                    <td>3995.00$</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="button-wrapper">
                            <a href="checkout.html" class=" cust-btn">CHECK OUT</a>
                            <a href="index.html" class=" cust-btn">CONTINUE SHOPPING</a>
                        </div>
                        <small class="order-info">Your order will be shipped on the next 48hs.</small>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ---------------------------   FOoTER starts here ---------------------------------------------------------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="single_footer">
                        <h4>Products</h4>
                        <ul>
                            <li><a href="buy_apple.html#iphone_15">Iphone 15</a></li>
                            <li><a href="buy_apple.html#iphone_15pro">Iphone 15 pro</a></li>
                            <li><a href="buy_apple.html#ipad_1">Ipad Pro</a></li>
                            <li><a href="buy_android.html#samsung_fold">Samsung Fold</a></li>
                            <li><a href="buy_android.html#one_plus">One Plus</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Page Link</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="buy_apple.html">Buy Apple </a></li>
                            <li><a href="buy_android.html">By Samsung</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                        
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="terms_condition.html">Terms and condition</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Subscribe today</h4>
                        <div class="signup_form">
                            <form action="#" class="subscribe">
                                <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                                <button type="button" class="subscribe__btn"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="social_profile">
                        <ul>
                            <li><a href="#"><i class=" fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="copyright">Copyright © 2023 <a href="#"></a>.</p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>

</body>

</html>