<!-- Author: PB_TELECOME -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../assets/images/logo.png">

    <title>PB Telecoms</title>
    <link href="../includes/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/includes/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../includes/css/font-awesome.min.css">
    <link rel="stylesheet" href="../includes/css/owl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../includes/js/jquery.js"></script>
    <script src="../includes/js/bootstrap.js"></script>
    <script src="../includes/js/popper.js"></script>
    <script src="../includes/js/owl.js"></script>
    <script src="../assets/includes/custom.js"></script>
    <script src="../assets/includes/auth.js"></script>
    <script src="../assets/includes/auth.js"></script>



</head>

<body>
    <!-- ---------------------- header starts here ------------------------------------------------------ -->
    <div class="header">
        <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
                <div class="container">
                    <a class="navbar-brand" href="index.html" style="text-transform: uppercase;"> PB TELECOMS</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">

                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="about_us.html">About Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_apple.html">Buy Apple</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="buy_android.html">Buy Android</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="testimonials.html">Testimonials</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="Sign_login.html" id="login_logout">Sign Up / Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact_us.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- --------------------------------  banner starts here -------------------------------------------------- -->


    <section class="banner-area">

        <div class="all-banner-slide owl-carousel">
            <div class="single-banner-slide" style="background-image: url(../assets/images/iphone_15pro.jpg);">
                <span>Titanium. So strong. So light.</span>
                <h2>Iphone 15 Pro</h2>
                <p>Introducing the iPhone 15 Pro, a masterpiece of innovation, design, and performance. With
                    cutting-edge features, unmatched camera capabilities, lightning-fast processing, and a stunning
                    display, this device sets a new standard for the smartphone experience. Elevate your world with the
                    iPhone 15 Pro.</p>
                <a href="buy_apple.html">Discover Apple</a>
            </div>
            <div class="single-banner-slide"
                style="background-image: url(../assets/images/S23-Design-Story_main1.jpg);">
                <span>Ultra Reborn.</span>
                <h2>Samsung S23 Ultra</h2>
                <p>The Samsung Galaxy S23 Ultra is a flagship smartphone, featuring a powerful processor and advanced
                    camera technology. It boasts a stunning AMOLED display with a high refresh rate for vibrant visuals.
                    The device offers 5G connectivity and a large battery for all-day usage. It comes with the latest
                    Android OS and a sleek, premium design.</p>
                <a href="buy_android.html">Discover Android</a>
            </div>
            <div class="single-banner-slide" style="background-image: url(../assets/images/apple_watch.jpg);">
                <span>Smarter. Brighter. Mightier</span>
                <h2>Apple Watch Series 9</h2>
                <p>The Apple Watch Series 9 is the latest iteration of Apple's popular smartwatch.
                    It features a sleek design, improved performance, and enhanced health tracking capabilities.
                    With a larger display and new sensors, it offers a more immersive and informative user experience.
                </p>
                <a href="buy_apple.html">Discover Apple</a>
            </div>
        </div>
    </section>

    <!-- ------------------------   Shop items card starts here ------------------------------------------------- -->

    <section class="shop-item-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="custom_carousel" class="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/iphone-15-pro.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Iphone 15 Pro</h5>
                                        <p class="card-text">Enter A17 Pro.
                                            Game‑changing chip. Groundbreaking performance. iPhone.
                                            Forged in titanium.</p>
                                        <a href="buy_apple.html" class="cust-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/samsung_fold_5.jpg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Samsung Fold 5</h5>
                                        <p class="card-text">Unfold a stunning screen, designed to bring you a more
                                            immersive viewing experience</p>
                                        <a href="buy_android.html" class="cust-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="../assets/images/ipad.jpeg" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Ipad Air</h5>
                                        <p class="card-text">iPad Air lets you immerse yourself in whatever you’re
                                            reading, watching, gaming or creating .</p>
                                        <a href="buy_apple.html" class="cust-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ---------------------------------- about container ------------------------------------------------------ -->
    <section class="about-home bg-light">
        <div class="about_container">
            <div class="container-fluid py-5">
                <div class="row h-100 align-items-center py-3 text-center">
                    <div class="col-md-12">
                        <h1 class="display-4">About us</h1>
                        <p class="text-muted mb-0">Welcome to PB Telecome, your go-to destination for the latest
                            mobile
                            phones and accessories. At PB Telecome,
                            we believe in connecting people to the latest technology, empowering them to stay connected
                            with
                            the world in style.</p>
                        <a href="about_us.html" class="cust-btn cust-btn-2">Read More</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------  Testimonials starts here ----------------------------------------- -->

    <section class="cust-testimonials">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 col-xl-8 text-center">
                            <h1 class="mb-4">Testimonials</h1>
                            <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                                As a loyal customer, I feel compelled to share my
                                positive experiences with others who may be searching
                                for a reliable and customer-focused mobile shop.
                                What impressed me the most was the extensive range
                                of mobile devices and accessories they offer. - JS
                            </p>
                        </div>
                    </div>

                    <div class="row text-center d-flex align-items-stretch">
                        <div class="col-md-3 mb-5 mb-md-0 d-flex align-items-stretch">
                            <div class="card testimonial-card">
                                <div class="card-up"></div>
                                <div class="avatar mx-auto bg-white">
                                    <img src="../assets/images/test20.jpeg" class="rounded-circle img-fluid" />
                                </div>
                                <div class="card-body">
                                    <h4 class="mb-4">Jason Kellis</h4>
                                    <hr />
                                    <p class="dark-grey-text mt-4">
                                        I love the PB telecoms layout. Its really easy to use and browse for stuff. The
                                        stuff that I ordered came the next day. Really quick delivery.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-5 mb-md-0 d-flex align-items-stretch">
                            <div class="card testimonial-card">
                                <div class="card-up"></div>
                                <div class="avatar mx-auto bg-white">
                                    <img src="../assets/images/test19.jpg" class="rounded-circle img-fluid" />
                                </div>
                                <div class="card-body">
                                    <h4 class="mb-4">Lisa Cudrow</h4>
                                    <hr />
                                    <p class="dark-grey-text mt-4">
                                        I have be a customer of PB telecoms for almost 2 years now and I can say that
                                        there services are really great.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-0 d-flex align-items-stretch">
                            <div class="card testimonial-card">
                                <div class="card-up"></div>
                                <div class="avatar mx-auto bg-white">
                                    <img src="../assets/images/test18.jpeg" class="rounded-circle img-fluid" />
                                </div>
                                <div class="card-body">
                                    <h4 class="mb-4">Samantha</h4>
                                    <hr />
                                    <p class="dark-grey-text mt-4">
                                        I like that I can look at all the different brands all in the same place. It
                                        makes the deceding process really easy
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-0 d-flex align-items-stretch">
                            <div class="card testimonial-card">
                                <div class="card-up"></div>
                                <div class="avatar mx-auto bg-white">
                                    <img src="../assets/images/test16.jpg" class="rounded-circle img-fluid" />
                                </div>
                                <div class="card-body">
                                    <h4 class="mb-4">Sam Harris</h4>
                                    <hr />
                                    <p class="dark-grey-text mt-4">
                                        I was my first time buying something from PB Telecoms and I can say that they
                                        have found themselves a very loyal customer.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>

    </section>

    <!-- ---------------------------   FOoTER starts here ---------------------------------------------------------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <div class="single_footer">
                        <h4>Products</h4>
                        <ul>
                            <li><a href="buy_apple.html#iphone_15">Iphone 15</a></li>
                            <li><a href="buy_apple.html#iphone_15pro">Iphone 15 pro</a></li>
                            <li><a href="buy_apple.html#ipad_1">Ipad Pro</a></li>
                            <li><a href="buy_android.html#samsung_fold">Samsung Fold</a></li>
                            <li><a href="buy_android.html#one_plus">One Plus</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Page Link</h4>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="buy_apple.html">Buy Apple </a></li>
                            <li><a href="buy_android.html">By Samsung</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            
                            <li><a href="contact_us.html">Contact Us</a></li>
                            <li><a href="terms_condition.html">Terms and condition</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Subscribe today</h4>
                        <div class="signup_form">
                            <form action="#" class="subscribe">
                                <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                                <button type="button" class="subscribe__btn"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="social_profile">
                        <ul>
                            <li><a href="#"><i class=" fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="copyright">Copyright © 2023 <a href="#"></a>.</p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>

</body>

</html>